
body{
   background-color: rgb(219, 189, 155);}
   .fonte1{
    background-image: url(imagem/DNA.webp);
    font-family: sans-serif;
    padding: 1cm;
text-align: center;}
    .fonte1{
        background-color: white;}
    
.imagem1{
    width: 400px;
  
}
.fonte2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:rgb(229, 233, 31);
    
}

.fonte3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-image: url(imagem/download\ \(10\).jfif);
padding: 1mm;
    text-align: center;
   
}
.fonte4{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: forestgreen;

}
.fonte5{
    text-align: center;
    background-color: rgb(79, 119, 179);
}
.imagem2{
    width: 400px;
 }
.paragrafo1{
    font-family: Arial, Helvetica, sans-serif;
    padding: 1cm;
}
.fonte6{
    text-align: center;
    background-image: url(imagem/download\ \(3\).jfif);
}
.fonte7{
    text-align: center;
    background-image: url(imagem/download\ \(5\).jfif)
}
.imagem3{width: 400px;
    width: 400px;
   }

.fonte8{
    text-align: center;
    background-image: url(imagem/13.jfif);

}
.imagem4{
    width: 400px;
   }

.fonte9{
    text-align: center;
    background-image: url(imagem/download.jfif);
}
.imagem5{
    width: 400px;
    }

    .fonte10{
     text-align: center;
    background-image: url(imagem/download\ \(8\).jfif);
    }
    .imagem6{
        width: 400px;
    }
    .fonte11{
     text-align: center;
    background-image: url(imagem/download\ \(9\).jfif);
    }
    .imagem7{
        width: 400px;
        }

    .fonte12{
        text-align: center;
        background-image: url(imagem/download\ \(9\).jfif);
        }
        
    p { 
        font-size: 20px;
    }
    .imagem8{
        width: 400px;
       }


    

    







  